*env.sh
code/*.log
code/all_tests_results.txt
code/platformname.txt
temp/*
resources/.env
writeups/sjtemp/
writeups/*.tex
*/#*.lyx#
code/ado/backup.trk
deliverables/sj/*
!deliverables/sj/README.txt
deliverables/sj2/*
!deliverables/sj2/README.txt
deliverables/synth_runner.pkg